<header class="uber_header" role="banner">
    {{#if @blog.logo}}
    <a class="uber_logo" href="{{@blog.url}}">
        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
    </a>
    {{/if}}

    <h1 class="uber_blogtitle">
        <a href="{{@blog.url}}" title="{{@blog.title}}">
            {{{@blog.title}}}
        </a>
    </h1>

    <p class="uber_blogdescription">{{@blog.description}}</p>

    <nav>{{navigation}}</nav>
</header>