{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="excerpt {{post_class}}">
    <a href="{{url}}">
        <header class="post-header">
            <img src="{{image}}" alt="{{title}}">
        </header>
    </a>
    <footer class="post-meta">
        <h1 class="post-title">{{{title}}}</h1>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        <p>{{excerpt characters="140"}}&#8230;</p>
        <p class="post-tags">{{tags prefix="Post tagged: " separator=" " autolink="true"}}</p>
    </footer>
</article>
{{/foreach}}
