{{!< default}}

<header role="banner">
    <a class="blog-logo" href="{{@site.url}}">
        <img src="{{@site.logo}}" alt="{{@site.title}}">
    </a>
    <h1 class="page-title">{{@site.title}}</h1>
</header>

{{navigation}}

{{#is "post"}}
	{{#post}}
<article class="full {{post_class}}">

    <header class="post-header">
        <img src="{{img_url}}" alt="{{title}}">
        <h1 class="post-title">{{title}} <a href="{{url}}">#</a></h1>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </header>

    <section>
        {{content}}
    </section>

    <footer class="post-meta" role="contentinfo">
        <p class="post-tags">{{tags prefix="Post tagged: " separator=" " autolink="true"}}</p>
        {{> "read-more"}}
        {{> "author"}}
    </footer>
</article>
	{{/post}}
{{/is}}
