{{!< default }}

<main class="uber_main" role="main">

    {{#post}}

    <article class="uber_article" role="article" itemscope itemtype="http://schema.org/Article">

        <header class="uber_postheader">
            <time class="uber_date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
                {{date published_at timeago="true"}}
            </time>
            <h1 class="uber_posttitle" itemprop="headline">
                {{title}}
            </h1>
        </header>

        <main class="uber_postcontent" itemprop="articleBody">
            {{content}}
        </main>

        {{#if tags}}
        <section class="uber_posttags" itemprop="keywords">
            <p>Tags: {{tags separator=" – "}}</p>
        </section>
        {{/if}}

        <section class="uber_sharepost">
            <h4 class="uber_share">Share this post: &nbsp;</h4>
            <a tager="_blank" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" class="uber_share icon-twitter"><span class="uber_hidethis">Twitter</span></a>
            <a tager="_blank" href="https://facebook.com/sharer.php?u={{url absolute="true"}}" class="uber_share icon-facebook"><span class="uber_hidethis">Facebook</span></a>
            <a tager="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}" class="uber_share icon-gplus"><span class="uber_hidethis">Google+</span></a>
        </section>

        {{#if author}}
        <footer class="uber_postfooter" role="contentinfo">
            <address itemscope itemtype="http://schema.org/Person">
                {{#if author.image}}
                <div class="uber_authorimage">
                    <img src="{{author.image}}" alt="This is a picture of {{author.name}}" itemprop="image">
                </div>
                {{/if}}

                <h4 class="uber_authorname"><span itemprop="author">{{author.name}}</span></h4>

                {{#if author.website}}
                <div class="uber_authorwebsite">
                    <a href="{{author.website}}" itemprop="url">{{author.website}}</a>
                </div>
                {{/if}}
            </address>

            <div class="uber_authorbio">
                <p>{{author.bio}}</p>
            </div>

        </footer>
        {{/if}}

    </article>

    {{/post}}

    {{#if pagination}}
    <nav class="uber_pagination">
        {{{pagination}}}
    </nav>
    {{/if}}

</main>